*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 微軟正黑體;}

#banner{width: 100%;
height: 100vh;
background-image: url(./img/banner.jpg);
background-size: cover;
color:white;
background-attachment: fixed;

}
/* 橫幅 */
#banner nav, #banner-about nav {
    padding: 30px;
}

#banner a, #banner-about a {
    color:white;
    text-decoration: none;
    font-size: 24px;
    padding: 0 30px;
    transition:0.3s;
    
}

#banner a:hover,#banner-about a:hover {
    color:#aaa;
}

#banner p{
    text-align: center;
    margin-top: 300px;
    opacity: 0.7;
    font-size: 20px;
    padding: 30px;
}

#banner hr{
    width: 300px;
    opacity: 0.7;
    margin: 0 auto
}

#banner h1{
    text-align: center;
    font-size: 72px;
    padding: 30px;
}

#news{
    height: 500px;
    background: #f1ebd7;
}
#banner-about{
    width: 100%;
    background-image: url(./img/about1.jpg);
    background-size: cover;
    color:white;
    height: 100vh;
}

#banner-about p{
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
    font-size: 20px;
    padding: 18px;
    backdrop-filter:blur(8px);
}
#banner-about hr{
    width:600px;
    margin: 0 auto;
}

#banner-about h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 20px;
    padding-left: 20px;
    line-height: 10vh;
    height:20vh;
    backdrop-filter:blur(8px);
    
}

#about-content {
    width: 1200px;
    margin: 0 auto;
    background:white;
    padding: 30px;
    margin-top: 100px;

}

#about-content h3{
    text-align: center;
    padding: 20px;
}

#about-content hr{
    width: 600px;
    margin: 0 auto;
}

#about-content h1{
    text-align: center;
    padding: 30px;
}